body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
  }

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: black;
}

.header h5{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.header button{
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    color: black;
    border-radius: 4px;
}

.quadro{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.esquerdo{
    width: 50%;
    height: 597px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.baner{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 0%;
    margin-left: 30%;
    margin-top: 0%;
    transition: 1s;
}

.quadro:hover .baner{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
    margin-left: 30%;
    margin-top: 0%;
    transition: 1s;
}



.esquerdo img{
    background-color: rgb(90, 90, 90);
    width: 50%;
    height: 500px;
    margin-top: 5%;
    margin-left: -30%;
}

.direito{
    width: 50%;
    height: 100%;
}

.tiulo{
    margin-top: 5%;
    margin-left: 5%;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sinopse{
    margin: 5%;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.avaliacao{
    margin-left: 5%;
    color: #fff;
}

.botoes{
    margin: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.botoes button{
    margin-inline: 5%;
    padding: 10px;
    font-size: 20px;
}






* {
    scrollbar-width: auto;
    scrollbar-color: #383838 #0f0f0f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #0f0f0f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 8px;
    border: 1px none #292929;
  }